:root
{
--main-color: #4fb2b2;
--secound-color: #a4bf54;
--third-color: #313231;
}
.loader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.941) ;
    transition: opacity 1s, visibility 1s;
    z-index: 999999999999999;

}
.loader--hidden{
    opacity: 0;
    visibility: hidden;
}
.loader::after{
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #dddddd;
    border-top-color: var(--main-color);
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
}
@keyframes loading{
    from { transform: rotate(0turn)}
    to { transform: rotate(1turn)}
}
