@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@600&display=swap');
/* Arabic Font Style */
body.arabic {
  font-family: 'Cairo', sans-serif;
}
/* Default Font Style (for English) */
body {
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}
:root
{
--main-color: #4fb2b2;
--secound-color: #a4bf54;
--third-color: #313231;
}
/* ----------------- Header ----------------------- */
.info {
  background-color: #0b3369;
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 3rem;
  font-family: Arial, Helvetica, sans-serif;
  z-index: 999999999999999;
}
.info .box {
  display: flex !important ;
  justify-content: center;
  align-items: center;
  margin-left: 30px !important;
  z-index: 999999999999999;
}
.info .box h1 {
  font-size: 12px;
  margin-left: 10px;
  margin-top: 5px;
  color: aliceblue;
  z-index: 999999999999999;
}
.link {
  color: aliceblue;
  text-decoration: none;
  list-style: none;
  z-index: 999999999999999;
}
.info .box a img {
  cursor: pointer;
  margin-bottom: 5px;
  z-index: 999999999999999;
}
.facebook-icon svg {
  width: 20px;
  height: auto;
  cursor: pointer;
  margin-right: 50px;
  z-index: 999999999999999;
}
nav img {
  width: 200px;
  cursor: pointer;
}
/* Normal state styles */
.facebook-icon a img {
  width: 2rem;
  height: auto;
  margin-right: 3rem;
  transition: filter 0.3s; /* Add a smooth transition effect */
}
/* Hover state styles */
.facebook-icon a img:hover {
  filter: brightness(0.8); /* Darken the icon when hovered */
}
/* ----------------- Navigation ----------------------- */
.navbar .dropdown-menu a.dropdown-item {
  text-decoration: none;
  color: rgb(21, 21, 100);
  font-size: 16px;
  font-weight: 550;
  transition: 0.3s;
}
.navbar .dropdown-menu a.dropdown-item:hover {
  /* color: #FDC93B !important; */
  color: var(--secound-color) !important;
  transition: 0.3s;
}
.navbar .nav-item .nav-link {
  text-decoration: none;
  margin-right: 3rem;
  color: rgb(21, 21, 100);
  font-size: 15px;
  font-style: normal;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 550;
  transition: 0.3s;
}
.navbar .nav-item .nav-link:hover {
  transition: 0.3s;
  color: var(--main-color) !important;
}
#to-blue
{
  transition: 0.5s;
}
#to-blue:hover {
  color: var(--main-color) !important; /* Change to your desired hover color */
  transition: 0.5s;
}
@media (min-width: 992px) {
  .navbar .nav-item .nav-link{
    width: 100%;
    height: auto;
    /* margin-right: 1.5rem; */
  }
}

@media (max-width: 1200px) {
  .navbar .nav-item .nav-link{
    width: 100vw;
    height: auto;
    margin-right: 1.5rem;
  }
}

@media (max-width: 1400px) {
  .navbar .nav-item .nav-link{
    width: 100%;
    height: auto;
    /* margin-right: 1.5rem; */
  }
}
/* ----------------- up arrow after scrolling button ----------------------- */
#arrow {
  width: 60px;
  height: 60px;
  border-radius: 20px;
  color: #ffffff;
  /* background-color: #F55023; */
  position: fixed;
  background-image: url(/imgs/bxs-up-arrow-circle.svg);
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 0;
  left: 0;
  margin-bottom: 30px;
  margin-left: 10px;
  opacity: 0; /* Start with 0 opacity (hidden) */
  cursor: pointer;
  z-index: 9999999999999999;
  transition: opacity 0.3s ease; /* Add a transition for opacity over 0.3 seconds with ease timing function */
}
#arrow.active {
  opacity: 1; /* Set opacity to 1 (visible) when the "active" class is applied */
}
.custom-button {
  background-color: #4fb2b2; /* Change this to your desired normal background color */
  color: #FFFFFF; /* Change this to your desired normal text color */
  margin-left: -4px;
  border-color: transparent;
  transition: background-color 0.3s ease, color 0.3s ease; /* Add a smooth transition effect */
}
.custom-button:hover {
  background-color: var(--secound-color); /* Change this to your desired hover background color */
  color: #FFFFFF; /* Change this to your desired hover text color */
  border-color: transparent;
}
/* ----------------- Footer-Adjustments ----------------------- */
/* Style for the dots */
.dot {
  display: inline-block;
  width: 6px;
  height: 6px;
  background-color: #000;
  border-radius: 50%;
  margin-right: 6px;
}
/* Remove the bottom line from links */
ul.list-unstyled li a {
  text-decoration: none;
  border-bottom: none;
  transition: 0.5s;
}
ul.list-unstyled li a:hover {
  color: var(--main-color) !important; /* Change to your desired hover color */
  transition: 0.5s;
}
#footer-logo {
  width: 16em;
  height: auto;
}
/* ----------------- Scroll-Bar-Adjustments ----------------------- */
/* Track */
::-webkit-scrollbar {
  width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--main-color); /* Change this to your desired color */
  border-radius: 5px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--secound-color); /* Change this to your desired color on hover */
}
/* ----------------- Scroll-Bar-Adjustments ----------------------- */
