:root
{
--main-color: #4fb2b2;
--secound-color: #a4bf54;
--third-color: #313231;
}
.cover-section {
  background: url("/imgs/Health-Informatics-Management-dark.jpg")
    center/cover no-repeat;
  background-attachment: fixed;
  height: 60vh; /* Adjust the height as needed */
  /* width: 100vw; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 520;
}
#cover-text {
  margin-bottom: 5rem;
  font-family: Arial, Helvetica, sans-serif;
}
#cover-text a {
  text-decoration: none;
  color: white;
}
.text-center {
  text-align: center;
}
/* Custom styles for h2 and p elements */
.cover-section h2 {
  font-size: 4rem; /* Set the font size for h2 to 2rem (32px) */
}
.cover-section p {
  font-size: 1rem; /* Set the font size for p to 1rem (16px) */
}
.width{
    padding: 50px 100px;
}
.width h5{
    margin-bottom: 30px;
    margin-top: 30px;
}
.width p{
    line-height: 1.4;
    letter-spacing: 0.7px;
}
.width li{
    margin-top: 15px;
    margin-bottom: 15px;
}
.width ul{
    padding-left: 50px;
}
.over{
    margin-bottom: 35px;
    margin-top:   25px;
}
@media (max-width: 576px) {
    #cover-text h2 {
      font-size: 3rem; /* Adjust the font size as needed for small screens */
    }
  }