:root
{
--main-color: #4fb2b2;
--secound-color: #a4bf54;
--third-color: #313231;
}
.cover-section {
  background: url("/imgs/University's-president-cover.jpg") center/cover
    no-repeat;
  background-attachment: fixed;
  height: 60vh; /* Adjust the height as needed */
  /* width: 100vw; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 520;
}
#cover-text {
  margin-bottom: 5rem;
}
#cover-text a {
  text-decoration: none;
  color: white;
}
.text-center {
  text-align: center;
}
/* Custom styles for h2 and p elements */
.cover-section h2 {
  font-size: 4rem; /* Set the font size for h2 to 2rem (32px) */
}

.cover-section p {
  font-size: 1rem; /* Set the font size for p to 1rem (16px) */
}
/* Custom CSS to center the card */
.center-card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
/* Custom CSS for styling */
.section {
  padding: 20px; /* Add spacing inside sections */
  border: 2px solid var(--main-color); /* Border color */
  margin-bottom: 20px; /* Add spacing between sections */
}
@media (max-width: 576px) {
    #cover-text h2 {
      font-size: 3rem; /* Adjust the font size as needed for small screens */
    }
  }
/* ----------------- President-Adjustments ----------------------- */
#president-photo {
    height: auto;
     width: 30em;
}
#h2-head
{
    color: var(--main-color) !important;
    cursor: pointer;
    transition: 0.5s;
}
#h2-head:hover {
    transition: 0.5s;
    color: var(--secound-color) !important;
  }
.hover-effect {
  color: var(--main-color);
  cursor: pointer;
  transition: 0.5s;
}
.hover-effect:hover {
  transition: 0.5s;
  color: var(--secound-color);
}
/* ----------------- Scroll-Bar-Adjustments ----------------------- */
/* Track */
::-webkit-scrollbar {
  width: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--main-color); /* Change this to your desired color */
  border-radius: 5px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(
    --secound-color
  ); /* Change this to your desired color on hover */
}
/* ----------------- Scroll-Bar-Adjustments ----------------------- */
